html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
}

.card {
  background: red;
  color: #fff;
  height: 150px;
  padding: 24px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 200px;
}

.card:nth-child(1n) {
  background: blue;
}

.card:nth-child(2n) {
  background: green;
}

.card:nth-child(3n) {
  background: yellow;
}

.card:nth-child(4n) {
  background: purple;
}

.card:nth-child(5n) {
  background: orange;
}

.card:nth-child(6n) {
  background: pink;
}

.card:nth-child(7n) {
  background: brown;
}

.card:nth-child(8n) {
  background: black;
}

.card:nth-child(9n) {
  background: mediumaquamarine;
}

.card:nth-child(10n) {
  background: gray;
}
